* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: blanchedalmond;
}

/* Header */
.header {
  background: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: black;
}

.logo {
  font-size: 45px;
  font-weight: bold;
  color: orange;
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo i{
  font-size: 20px;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 320px;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid black;
}

.search-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}


.container {
  padding: 40px;
  max-width: 1200px;
  text-align: center;
  color: #0a8f3c;
  margin-top: 30px;
}
.container h2 {
  color: green;
  margin-bottom: 20px;
  margin-right: 350px ;
 
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); 
  grid-template-rows: repeat(2, auto);            
  grid-auto-flow: column;                    
  gap: 25px;
  margin-left: 250px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: brown
  transition:0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 12px 0;
  color: lightslategray;
  text-align: center;
}
.card-view {
  display: flex;
  justify-content: space-between;
}

.rating {
  background: beige;
  color: green;
  padding: 4px 8px;
  border-radius: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.rating i{
  font-size: 12px;
}
.price {
  background: beige;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}
